:root {
  --cell-width: 1px;
  --cell-height: 1px;
  --game-environment-width: 0;
  --game-environment-height: 0;
  --game-screen-width: 0;
  --game-screen-height: 0;
  --player-move-sleep-time: 0ms;
  --opponent-move-sleep-time: 0ms;
}

body {
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
