@keyframes fx-flash {
  0% {
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes fx-blur {
  0% {
    filter: blur(10px);
  }
  100% {
    filter: blur(0);
  }
}

.fx--cell {
  position: absolute;
  width: var(--cell-width);
  height: var(--cell-height);
}

.fx--flash {
  animation: fx-flash 200ms;
  opacity: 0;
}

.fx--blur {
  animation: fx-blur 100ms;
}

.fx__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  opacity: 0;
  left: 0;
  background-color: red;
  pointer-events: none;
}
