.game {
  position: relative;
  display: block;
  width: var(--game-world-width);
  height: var(--game-world-height);
  transition: all 300ms;
}

.game__container {
  position: relative;
  overflow: hidden;
  display: block;
  width: var(--game-screen-width);
  height: var(--game-screen-height);
  border-radius: 1000px;
  padding: 100px;
  background-color: #000;
  box-sizing: content-box;
}

.game__fx {
  position: absolute;
  top: 0;
  pointer-events: none;
}

.game__shadow {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
}

.game__world {
  background-color: green;
  cursor: crosshair;
}

.game__zone {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transition: all 1.5s;
  border: solid white 3px;
}

#zone {
  box-shadow: 0 0 500px blue;
}

.game__zone--next {
  border: solid blue 3px;
}

.game__player {
  transition: all 150ms;
  position: absolute;
  display: block;
  background-color: blue;
  top: 0;
  left: 0;
  width: var(--cell-width);
  height: var(--cell-height);
  pointer-events: none;
  border-radius: 100px;
}

.game__opponent {
  transition: all 150ms;
  position: absolute;
  display: block;
  background-color: red;
  top: 0;
  left: 0;
  width: var(--cell-width);
  height: var(--cell-height);
  pointer-events: none;
  border-radius: 100px;
}

.game__opponent--dead {
  background-color: grey;
}

.game__item {
  position: absolute;
  display: block;
  background-color: purple;
  top: 0;
  left: 0;
  width: var(--cell-width);
  height: var(--cell-height);
  pointer-events: none;
  border-radius: 4px;
  opacity: 0; /* REMOVE THIS ONCE PROPERLY IMPLEMENTED */
}

.game__item--hidden {
  display: none;
}
